* {box-sizing: border-box;}

body{
  font-family: Lato, sans-serif;
}

body h1{
    font-family: Montserrat, sans-serif;
}

div.container-fluid,div.row{
  padding: 0;
  margin:0;
}
.nav-bar{
  overflow:  visible;
  height: 125px;
  background-color: #2C3E50;
}

.nav-bar h1{
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  padding: 25px 20px 5px;
}

.nav-bar ion-icon{
  float:left;
}

.dropdown{
  margin-left: 20px;
  margin-top: 5px;
}
div.dropdown-menu{
  color: white;
  padding: none;
}

div.dropdown-menu.show{
  padding: 0;
}

.dropdown-menu a{
  color: #2C3E50;
  background-color: rgba(255,255,255,0.5);
}

.dropdown-menu a:hover{
  background-color: rgba(220,220,220,0.5);
}

a.btn.btn-secondary.dropdown-toggle{
  background-color: #18BC9C;
  border-color: #2C3E50;;
}


main{
  background-color: #18BC9C;
}

main img.profile{
  margin: 30px 25%;
  width: 50%;
}

main h1{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: white;
}

.skills{
  margin: 5%;
  width: 90%;
}

.skills p{
  color: white;
  text-align: center;
  font-size: 23px;
}

@media (min-width: 768px) {

 }

@media (min-width: 992px) {

 }
