*{
  box-sizing: border-box;
  font-family: sans-serif;
}
html#menu{
  background-color: black;
}

body{
  margin: 0 auto;
  background-color: white;
  width: 960px;
}

header{
  padding: 25px;
  border-bottom: black 1px solid;
  margin-bottom: 20px;
}

main{
  width: 100%;
  overflow: hidden;
}

main nav{
  padding: 15px;
  width: 300px;
  float: left;
}

main section{
  padding: 15px;
  border-left: black 1px solid;
  width: 610px;
  float: right;
}

img{
  width: 300px;
  height: 200px;
  border: gainsboro 1px solid;
  padding: 3px;
  margin-left: 10px;
  margin-right: 0;
  float: right;
}

footer{
  height:200px;
  background-color: gainsboro;
  overflow: hidden;
  padding: 20px 0;
}

footer img{
  height: 150px;
  margin: 10px 40px;
  width: 250px;
  float:left;
}
footer li a{
  color: black;
  font-weight: normal;

}

footer nav{
  float: right;
  margin: auto 50px;
}

.imagen{
  width: 250px;
  height: 150px;
  float: right;
}

article{
  margin-bottom: 35px;
  margin-left: 25px;
}

h1{
  margin-left: 20px;
}

h2{
  margin-left: 20px;
}

h3{
  margin-bottom: 30px;
}


nav ul{
  margin-left: 25px;
}

nav li{
  list-style: none;
  margin-top: 15px;
}

nav a{
  color: gray;
  text-decoration: none;
}

a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

form{
  border-left: orange 2px solid;
  border-right: orange 2px solid;
  padding: 20px;
}

form label{
  font-weight: bold;
  margin-bottom: 50px;
}

button{
  border: orange 1.5px solid;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 10px;
  width: 300px;
  height: 30px;
}

#enviar{
  background-color: orange;
  color: white;
}

#resetear{
  background-color: white;
  color: orange;
}
