body#home{
  font-family: sans-serif;
  background-image: url('../img/emilia-home.jpg');
  background-size:contain;
  background-position: right;
  background-repeat: no-repeat;
  }
  body#about{
    font-family: sans-serif;
    background-image: url('../img/emilia-about.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

#about ul{
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 50px;
  text-align: right;
  position: relative;
  bottom: 5px;
}

#about ul li{
  position: relative;
  top: 15px;
  margin-left: 7px;
  display: inline;
}

#about div.iconos{
  margin-top: 10px;
  position: absolute;
  right: 20px;
  top: 70px;
}

body#music .nav{
  background-image: url('../img/emilia-music-top.jpg');  
  background-repeat: no-repeat;
}

.menu li{
  display: inline;
  text-align: right;
}

div.nav ul{
  margin-top: 30px;
}

div.nav li{
  list-style: none;
  margin-bottom: 9px;
}

div.nav a{
  color: #666;
  text-decoration: none;
}

div.iconos{
  margin-left: 40px;
}

#about h1{
  font-size: 60px;
  color:black;
  margin-top: 165px;
  margin-bottom: 80px;
}

h1{
  font-size: 40px;
  color: #666;
  margin-top: 180px;
  margin-bottom: 180px;
  margin-left: 75px;
}

h2{
  margin-left: 10px;
  position: relative;
  left:6px;
  bottom:10px;
  font-size: 73px;
  letter-spacing: 4px;
  background-color: rgba(255,255,255,0.5);
  }

  h3{
    margin-top: 30px;
    margin-left: 30px;
    font-weight: normal;
    font-size: 35px;
    color: #358c82;
  }

  p{
    color: #09844b;
    font-size: 20px;
    margin-left: 30px;
  }
