* {box-sizing: border-box;}

body{
  width: 80%;
  margin: 0 10%;
  font-family: sans-serif;
  background-image: url(../images/bg-body.png);
}

header img.logo{
  border: 2px gray solid;
  border-radius: 50%;
  display: block;
  margin: 10px auto 20px;
}

a.toggle-nav{
  text-align: center;
  display: block;
  margin: 0 auto;
}
a.toggle-nav span{
  color: white;
  font-size: 30px;
  padding: 10px;
  background-color: gray;
  margin-bottom: 20px;

}
nav.main-nav ul{
  display: none;
  padding-left: 0;
  margin-bottom: 20px;
}

header nav:hover ul{
  display: block;
}

nav.main-nav ul li{
  margin-left: 0;
  background-color: gray;
  color: white;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-bottom: 2px;
}

nav.main-nav ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

section.banner img{
  margin-top: 20px;
  width: 100%;
  display: none;
}

article.product{
  margin-bottom: 30px;
}
article.product span.photo{
  width: 100%;
}

div.photo-container{
  position: relative;
}

img.special{
  position: absolute;
  top: 0;
  right: 5px;
}

a.zoom{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 5px 0;
}

article.product a.more{
  color: white;
  background-color: grey;
  text-transform: capitalize;
  padding: 10px;
  text-decoration: none;
}

nav.main-footer ul{
  padding-left: 0;
  margin-bottom: 20px;
}

nav.main-footer ul li{
  margin-left: 0;
  background-color: gray;
  color: white;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-bottom: 2px;
  list-style: none;
}

nav.main-footer ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {

  nav.main-nav ul{
    display: block;
    padding-left: 0;
    margin-bottom: 20px;
  }

  nav.main-nav ul li{
    list-style: none;
    text-decoration: none;
    float: left;
    width: 15%;
    margin-right: 2%;
  }
  section.banner img{
    display: block;
    margin-bottom: 20px;
    position: relative;
    top:20px;
  }

  nav.main-nav ul li a{
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
  }

  nav.main-nav ul li:last-child{
    margin:0;
  }

  nav a.toggle-nav{
    display: none;
  }
  section.vip-products{
    overflow: hidden;
  }
  article.product{
    float: left;
    width: 48%;
    margin-top: 10px;
    margin-left: 4%;
  }
  article.product:nth-child(odd){
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px){

  article.product{
    width: 32%;
    margin-left: 2%;
  }

  article.product:nth-child(odd){
    margin-left: 2%;
  }

  article.product:nth-child(1){
    margin-left: 0;
  }

  article.product:nth-child(4){
    margin-left: 0;
  }

  nav.main-footer{
    width: 90%;
    background-color: red;
    margin: 20px 5% 0 5%;
    border-radius: 10%;
  }

  nav.main-footer ul{
    background-color: none;
    overflow: hidden;
    height: 150px;
    margin: 0 auto;

  }

  nav.main-footer ul li{
    width: auto;
    float: left;
    background-color: inherit;
    list-style: none;
  }

  nav.main-footer ul li a{
    text-transform: capitalize;
  }

}
