* {box-sizing: border-box;}

body{
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/bg-body.png);
  font-variant: normal;
}
.container{
  border: 1px black solid;
}

.card{
  background-color: white;
  margin: 20px;
  border-radius: 10px;
}

.card .card-image img{
  width: 90%;
  border-radius: 50%;
  margin: 5%;
}

ul.social-media{
  padding-left: 0;
}

.card-image ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-image ul li{
  text-decoration: none;
  list-style: none;
  background-color: #508fb8;
  border-radius: 50%;
  padding: 10px;
}

.card-image ul li a ion-icon{
  width: 30px;
  height: 30px;
  color: white;
}

.card-data h2{
  letter-spacing: 2px;
  margin-left: 20px;
}

.card-data p{
  margin-left: 20px;
  margin-right: 2px;
}

.card-data button{
  font-size: 1.2em;
  background-color: #c7c7c7;
  color: white;
  width: 120px;
  height: 50px;
  margin: 10px 0 10px 20px;
}

@media screen and (min-width: 700px){

  .container{
    display: flex;
    flex-wrap: wrap;
  }

  .card{
    width: 45%;
    margin: 15px 2.5%;
  }

}

@media screen and (min-width: 1015px) {

  .card{
    display: flex;
    height: auto;
  }

  .card-image{
    align-self: center;
    width: 40%;
  }

  .card-data{
    align-self: center;
    width: 60%;
    height: 100%;
  }

  .card-data h2{
    font-size: 3em;
  }

  .card p{
    margin-left: 20px;
    font-size: 1.1em;
  }
}

.card-image img{
  width: 100px;
}
